<div class="w-48 h-72 bg-white rounded" >

  <div class="flex justify-center" >
    <!-- TODO: Investigate difference between ngOptimizedIage directive and lazy loading with placeholder images -->
    <img
      *ngIf="productImage"
      [ngSrc]="productImage"
      alt="Play station"
      width="138"
      height="164"
      class="h-[164px]"
      priority
    />
  </div>

  <div class="w-full h-1 bg-gray-50"></div>

  <div class="py-3 px-4" >
    <div>
      <p class="text-xs font-medium text-gray-700 text-ellipsis overflow-hidden line-clamp-1">
        {{ productName }}
      </p>
      <p class="text-xs font-medium text-gray-700 text-ellipsis overflow-hidden line-clamp-1" >
        {{ productDescription }}
      </p>
    </div>

    <div class="flex items-center justify-between pt-3 " >
      <div>
        <span class="text-gray-400 font-medium text-[9px] mr-1">EGP</span>
        <span class="text-sm text-gray-800 font-bold">{{ productPrice | number: '1.0-0' }}</span>
      </div>

      <app-rates-badge [productRating]="productRating" ></app-rates-badge>
    </div>
  </div>
</div>
