<app-navbar
  (setValue)="searchList($event)"
>
</app-navbar>

<main>
  <div class="py-16 px-12">
    <div class="flex justify-between">
      <aside class="w-1/4 2xl:w-1/3">
        <app-category></app-category>
      </aside>

      <section class="w-full">
        <div *ngIf="paginator$ | async as paginator">

          <h2 *ngIf="!paginator.products.length" class="text-gray-800 text-base font-semibold"> Empty State </h2>
          <div *ngIf="paginator.products.length" class="mb-8 flex">
            <h3 class="text-base text-gray-400 font-normal mr-2">
              {{ paginator.total }} Results for
            </h3>
            <h3 class="font-semibold mb-8">"All Electronics & Mobiles"</h3>
          </div>

          <div
            *ngIf="paginator.products.length"
            class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-4"
            infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="100"
            (scrolled)="loadMoreProducts(paginator)"
          >
            <a
              *ngFor="let product of paginator.products"
              [routerLink]="['/', 'product', product.category, product.title, product.id,]"
            >
              <app-product-card
                [productImage]="product.thumbnail"
                [productName]="product.title"
                [productDescription]="product.description"
                [productPrice]="product.price"
                [productRating]="product.rating"
              >
              </app-product-card>
            </a>
          </div>

          <p class="text-center my-3" *ngIf="loading$ | async">Loading...</p>
        </div>
      </section>
    </div>
  </div>
</main>
