<div
  class="grid grid-cols-1 lg:grid-cols-5 gap-4"
  *ngIf="paginator | async as paginator"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="100"
  (scrolled)="loadMoreProducts(paginator)"
>
  <a
    *ngFor="let product of paginator.products"
    [routerLink]="['/', 'product', product.category, product.title, product.id]"
  >
    <app-product-card
      [productImage]="product.thumbnail"
      [productName]="product.title"
      [productDescription]="product.description"
      [productPrice]="product.price"
      [productRating]="product.rating"
    >
    </app-product-card>
  </a>

  <p class="text-center my-3" *ngIf="loading | async">Loading...</p>
</div>
