.custom-select {
  position: relative;
  height: 100%;
}

select {
  appearance: none;
  /*  safari  */
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;

  @apply bg-gray-200 text-gray-400;
}

.custom-select::before,
.custom-select::after {
  --size: 0.4em;
  content: "";
  position: absolute;
  right: 1em;
  pointer-events: none;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid #98a2b3;
  top: 50%;
}
