@tailwind base;
@tailwind components;
@tailwind utilities;

.ellipseText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.line-clamp-1 {
  -webkit-line-clamp: 1;
  line-clamp: 1;
  white-space: wrap;
}
