<app-navbar></app-navbar>

<main>
  <div class="py-16 px-12">
    <div>
      <div class="flex">
        <!-- Can be a carousel to handle images more than the container cap -->
        <div class="h-[460px] flex flex-col justify-between overflow-scroll" >
          <img
            *ngFor="let image of product?.images"
            [ngSrc]="image"
            [alt]="product?.title"
            width="104"
            height="141"
            priority
            (click)="updatePreviewedImage(image)"
          />
        </div>
        <div class="ml-4" >
          <img
            [ngSrc]="selectedPreviewImage"
            [alt]="product?.title"
            width="452"
            height="460"
            priority
            class="h-[460px]"
          />
        </div>
      </div>
      <div></div>
      <div></div>
    </div>
  </div>
</main>
